/*---------globals style----------- */
@font-face {
    font-family: teacher;
    src: url('../fonts/KGWhattheTeacherWants.ttf');
}
body {
    background-color: #F7F7CD;
    font-family: teacher;
}
.fa-facebook-square{
    color: #2E3B7F;
}
.fa-facebook-square:hover, .fa-twitter:hover, .fa-google-plus:hover{
    color: #000;
}
.fa-google-plus{
    color: #932933;
}
.fa-twitter{
    color: #437341;
}
.linkssmall {
    text-align: center;
    font-size: 1vw;
}
.linkssmall li{
    display: inline-block;
}
.linkssmall a{
    color: white;
}


/* ---------- navbar if needed-----------*/
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {*/
    /*background-color: #424445;*/
    /*color: #D0D0D0;*/
/*}*/

/**/

/*-----------style for home ------------------*/
.page-header{
    text-align: center;
}
#logo{
    width: 50%;
    background-color: transparent;
}
.links {
    text-align: center;
    font-size: 2vw;
}
.links li{
    display: inline-block;
}
.links a{
    color: white;
}

#red{
    background-color: #932933;
}
#red a:hover{
    background-color: white;
    color: #932933;
}
#yellow{
    background-color: #E0A851;
}
#yellow a:hover{
    background-color: white;
    color: #E0A851;
}
#blue{
    background-color: #2E3B7F;
}
#blue a:hover{
    background-color: white;
    color: #2E3B7F;
}
#green{
    background-color: #437341;
}
#green a:hover{
    background-color: white;
    color: #437341;
}

.welcome{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size:2vw;
    padding: 2vw;
    text-align: center;
}


/*.homediv, .homediv2{*/
    /*min-width: 0;*/
    /*max-width: 100%;*/
    /*background: #F8F8F8;*/
    /*margin: 20px;*/
    /*padding: 20px;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*text-align: center;*/
/*}*/

/*.homediv {*/
    /*height: 250px;*/
/*}*/
/*#recentdiv{*/
    /*font-size: 100%;*/
/*}*/

/* --- time div -- */
/*}*/
/*#timediv{*/
    /*font-size: 5vw;*/
/*}*/
/*#datediv{*/
    /*font-size: 2vw;*/
/*}*/


/* -----------style for quizzes home----------*/

.quizhomenav {
    font-size: 1.5vw;
    color: #000;
}
.quizlinks{
    padding: 0;
}
.quizlinks {
    text-align: center;
    font-size: 2vw;
}
.quizlinks li{
    display: inline-block;
}
.quizlinks a{
    color: white;
}
.quizhomenav a{
    color: white;
}
.quizinfo{
    width: 50%;
    margin: 0 auto;
    font-size:2vw;
    padding: 2vw;
    text-align: center;
}
.sidebar{
    font-size:1.5vw;
    text-decoration: underline;
}

/*------------style for load quiz-------------*/
#loadquiz{
    min-width: 0;
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5vw;
}
#quizHeading{
    width: 50%;
    background: #2E3B7F;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 1%;
    color: white;
    font-size:2vw;
}

#quizTable {
    border-collapse: collapse;
    width: 85%;
    margin-left: 7.5%;
    background-color: #f2f2f2;
}

#quizTable td, #quizTable th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#quizTable tr:nth-child(even){background-color: #f2f2f2}

#quizTable tr:hover {background-color: #ddd;}

#quizTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
}

/*---------style for build quiz------------*/

#quizbuildlabel{
    color: white;
    font-size: 2vw;
}

/*---------style for create quiz------------*/
.numquestions{
    padding-left: 15px;
}
#pdf_check{
    width:30px;
    height:30px;
}
.info{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    font-size:1.3vw;
}
#quizDiv{
    min-width: 0;
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 2vw;
}
#quizDrop{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #932933;
    width: 50%;
}
#quizDropLabel {
    color: white;
    font-size: 2vw;
}
#question_form{
    width: 50%;
    margin-left:auto;
    margin-right: auto
}

input[type=text], select {
    width: 100%;
    padding: 5px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2vw;
}
label{
    color: white;
}
.quizformlabel{
    color: black;
}

#quizformbuttonnext, #quizformbuttonsubmit, #quizformbuttonsubmitfinal{
    width:25%;
    margin-right:auto;
    margin-left:auto;
    height:50px;
    text-align: center;
    margin-bottom:25px;
}
#quizformbuttonsubmit, #quizformbuttonsubmitfinal{
    margin-bottom:200px;
}
#final_questionform{
    width:75%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#final_questionformbutton{
    margin-bottom:200px;
    width:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#quizSingle{
    background: #437341;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 20px;
}
#nameinputid{
    background-color: #2E3B7F;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 20px;
}
.nameinput{
    width: 75%;
    margin-left: 12.5%;
}
.quiznums {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    font-size: 2vw;
}
.submitbut{
    margin-bottom: 50px;
    width: 20vw;
    font-size: 2vw;
}
.btn-primary{
    font-size:2vw;
}
/*.continue {*/
    /*text-align: center;*/
    /*font-size: 2vw;*/
/*}*/
/*.continue li{*/
    /*display: inline-block;*/
/*}*/
/*.continue a{*/
    /*color: white;*/
/*}*/

/*---------style for students page--------*/
.studentpicker{
    width: 35%;
    margin: 0 auto;
    font-size:2vw;
    text-align: center;
}
#resultstable {
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

#resultstable td, #resultstable th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
#resultstable tr{
    font-size: 1.2vw;
}
#resultstable tr:nth-child(even){background-color: #f2f2f2}

#resultstable tr:hover {background-color: #ddd;}

#resultstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    font-size:1.8vw;
}

/*---------------- quiz view page style --------------*/

#startquizbutton{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#questions_div{
    padding: 25px;
    margin-top: 25px;
    font-size: 2.5vw;
    /*width: 75%;*/
    /*margin: 0 auto;*/
    /*background-color: white;*/

}
.choice{
    padding: 25px;
    font-size: 2.2vw;
    margin-bottom: 25px;
    /*background-color: white;*/
}
#container{
    float: right;
    padding-top: 50px;
}
/*----------------------pdf viewer page-----------------------*/

.pdfobject-container {
    height: 600px;
}
.pdfobject {
    border: 1px solid #666;
}

