{% extends "index.html" %}
{% load range %}
{% block content %}
{% csrf_token %}
   <div class="page-header">
        <h1 style="font-size: 3vw;">Build Quiz</h1>
    </div>

    {% for item in numquestions|get_range %}
        <div id="Page{{ item }}" class="page" {% if item != 0 %}style="display:none;"{% endif %}>
             <div id="question_form">
                <label for='id_question' class="quizformlabel">Question:</label><input id='id_question' name='question' type='text' />
                <label for='id_correct' class="quizformlabel">Correct Answer:</label><input id='id_correct' name='correct' type='text' />
                <label for='id_choice_1' class="quizformlabel">Choice 1:</label><input id='id_choice_1' name='choice_1' type='text' />
                <label for='id_choice_2' class="quizformlabel">Choice 2:</label><input id='id_choice_2' name='choice_2' type='text' />
                <label for='id_choice_3' class="quizformlabel">Choice 3:</label><input id='id_choice_3' name='choice_3' type='text' />
                <label for='id_choice_4' class="quizformlabel">Choice 4:</label><input id='id_choice_4' name='choice_4' type='text' />
             </div>
        </div>
    {% endfor %}

    <div class="links">
        <ul class="nav" id="quizformbuttonnext">
            <li id="blue"><a href="javascript:void(0);" onclick="show_next();">Next Question</a></li>
        </ul>
    </div>
    <div class="links">
        <ul class="nav" id="quizformbuttonsubmit">
            <li id="red"><a href="javascript:void(0);" onclick="submit_quiz();">Submit Quiz</a></li>
        </ul>
    </div>

    <script>

        var pages = {{ numquestions }} -1;
        var page = 0;
        var current;
        var next;
        function show_next() {
            if (page == pages) {
                page = 0;
                var temp = "Page" + pages;
                console.log(temp);
                $('#' + temp).hide();
                current = "Page" + page;
                console.log(current);
                $('#' + current).show();
            } else {
                current = "Page" + page;
                console.log(current);
                $('#' + current).hide();
                next = "Page" + (page + 1);
                console.log(next);
                $('#' + next).show();
                page++;
            }
        }
    </script>


{% endblock %}