{% extends "index.html" %}
{% block content %}
{% csrf_token %}

     <div class="page-header">
        <h1 style="font-size: 7vw;">Create a Quiz</h1>
    </div>

    <div class="col-md-12">
        <form action='/api/v1/create_quiz_ap' method='post'>{% csrf_token %}
            <div id="quizDiv">
                <div id="nameinputid" class="nameinput">
                    <label id="quizbuildlabel" for="quizDrop">Number of questions:</label>
                        <input style="width: 15%;" class="numquestions" type="number" name="question_num" value="1" min="1" max="20">
                        <br>


                      <label for='id_name'>Quiz Name (Up to 32 chars) : </label>
                         <input id='id_name'  name='name' type='text' maxlength="32" style="width: 50%;"/>
                </div>
                <button class="submitbut btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $('.quiznums li a').click(function(e){
            $('.quizEntries').empty();

            var quizloop = e.delegateTarget.innerHTML;
            for (i=0; i < quizloop; i++){
                 $('.quizEntries').append("\
                 \
                 <div id='quizSingle'>\
                <label for='id_question'>Question:</label><input id='id_question' name='question' type='text' /> \
                <label for='id_correct'>Correct Answer:</label><input id='id_correct' name='correct' type='text' /> \
                <label for='id_choice_1'>Choice 1:</label><input id='id_choice_1' name='choice_1' type='text' /> \
                <label for='id_choice_2'>Choice 2:</label><input id='id_choice_2' name='choice_2' type='text' /> \
                <label for='id_choice_3'>Choice 3:</label><input id='id_choice_3' name='choice_3' type='text' /> \
                <label for='id_choice_4'>Choice 4:</label><input id='id_choice_4' name='choice_4' type='text' />\
                \
                </div>");
            }
        });

        $('.submitbut').click(function(e){
            if(confirm('Are you sure you want to submit this quiz?')){
                $('.submitbut').submit();
            }else{
                e.stopImmediatePropagation();
                e.preventDefault();
            }
        })

    </script>

{% endblock %}