{% extends "index.html" %}
{% load static %}
{% block content %}

    <div class="page-header">
        <img id="logo" src="{% static "res/Logo_trans_back.png" %}">
    </div>

    <div class="links">
       <ul class="nav">
          <li id="red"><a href="/home">Home</a></li>
          <li id="blue"><a href="/students">Students</a></li>
          <li id="green"><a href="/quizzes">Quizzes</a> </li>
          <li id="red"><a href="/results">View Results</a></li>
          <li id="blue"><a href="/quizview">Quiz View</a></li>
           <li id="green"><a href="/pdf_upload">PDF Quiz View</a></li>
        </ul>
    </div>
    <div class="welcome">
        <p>
            Welcome to the HoppoRoo! dashboard. Your portal to creating, loading and viewing quizzes
            for the classroom. To get started you can either take the <a href="#">Tutorial</a>, or you
            can go straight to <a href="/quizzes/create_quiz">creating a quiz</a>.
        </p>
    </div>

{% endblock %}