<!DOCTYPE html>
<html>
<head>
    {% load staticfiles  %}
    <meta charset="UTF-8">
    <title>HoppoRoo!</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/hls.css" %}">
    <script src="{% static "js/jquery.min.js" %}">
    </script>
	<script src="{% static "js/hls.js" %}">
    </script>
</head>
<body>

    getData('http://192.168.42.16', '#stream', '#load_activity');
    getData('http://192.168.42.15', '#message', '#load_messages');
    <div id="background">
        asdfasdf
        stuff
        asdfasd
        asdfasdf
        asdfasdf
        asdf

{#        <button type="button" onclick="getData();">Click Me!</button>#}
    </div>

</body>
</html>
