{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1 style="font-size: 3vw;">PDF Quiz Upload</h1>
       <p class="info">Use this tool to upload a PDF quiz document for use in the
           PDF viewer page, or use an existing PDF quiz that has previously been uploaded.</p>
    </div>
    <div id="fileuploader">Upload</div>
    <script>
        $(document).ready(function()
        {
            $("#fileuploader").uploadFile({
            url:"/api/v1/upload",
            fileName:"myfile"
            });
        });
    </script>
    <input id="pdf_view_page_button" type="button" onclick="location.href='/pdf_view'" value="Continue">
    <div class="common_back" align="center">
       <table id="filetable">
       <col/>
       <col width="15%"/>
       <tr><th colspan="2">Existing Files on System</th>
        </tr>
        <tr><th>Filename</th>
            <th id="delete_col">Delete</th>
        </tr>

        {% for file in pdfs %}
        <tr>
            <td>{{ file.name }}</td>
            <td><a href="/api/v1/delete?filename={{ file.dir }}&redirect=pdf_upload">X</a> </td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
