{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="col-md-4" style="float: right; padding-bottom: 50px;">
    <img style="float: right;" id="logo" width="600px" src="{% static "res/Logo_trans_back.png" %}" >
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div class="col-md-12" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div class="col-md-12" style="text-align: center;">
        <div style="font-size: 1.2vw; width: 50%; margin: 0 auto;">
            <p>{{ quiz.name }} </p>
	    <ul>
		{% for answer in quiz.answers %}
		<li>Correct: {{ answer.correct }}</li>
		Choices:
			{% for choice in answer.choices %}
			{{ choice }}
			{% endfor %}
	    		{% endfor %}
		</ul>
		
        </div>

    </div>
    <script>
        $(function () {
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    },
                    plotOptions: {
                        column: {
                            colorByPoint: true
                        }
                    },
                    colors: [
                        '#932933',
                        '#00ED77',
                        '#2E3B7F',
                        '#FCF528'
                    ]
                });

                $('#container').highcharts({
                    chart: {
                        type: 'column',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 100,
                        backgroundColor: '#F7F7CD',
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                var response_json;
                                setInterval(function () {
                                    $.when(
                                    $.ajax({
                                       type: "GET",
                                       url: "api/v1/data",
                                       success: function (response) {
                                         console.log(JSON.parse(response));
                                         response_json = JSON.parse(response);
                                         }
                                     }).then(function() {
                                        var x = (new Date()).getTime(), // current time
                                                y = Math.random();
                                        series.setData([response_json['A'] , response_json['B'], response_json['C'], response_json['D']], true, false, true);
                                    }))


                                }, 200);
                            }
                        }
                    },

                    title: {
                        text: '{{ quiz.name }}',
                        style:{
                            color: '#437341',
                            fontSize: '45px',
                            fontFamily: "teacher"
                        }
                    },
                    xAxis: {
                        labels: {
                            style:{
                                color: '#932933',
                                fontSize: '45px',
                                fontFamily: "teacher"
                            }
                        },
                        categories: [
                            'A',
                            'B',
                            'C',
                            'D',
                        ],
                    },
                    yAxis: {
                        title: {
                            style:{
                                color: '#932933',
                                fontSize: '25px',
                                fontFamily: "teacher"
                            },
                            text: 'Hoppys with Answer'
                        },
                        allowDecimals: false,
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },

                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Choices',
                        data: []

                    }]
                });
            });
        });
    </script>
{% endblock %}
