{% extends "index.html" %}
{% load static %}
{% block content %}
	<div id="questions" class="col-md-12" style="visibility: hidden;">
        <div class="col-md-6" id="questions_div">
            <span id="question_heading"></span>
        </div>
        <div class="col-md-6" id="container"></div>
        <div class="choice col-md-6">
                    A: <span id="choice_a"></span><br>
                    B: <span id="choice_b"></span><br>
                    C: <span id="choice_c"></span><br>
                    D: <span id="choice_d"></span><br>
            <div id="correctdiv" style="visibility: hidden; background-color: #932933; color:white; text-align: center;">
            Correct Answer: <span id="correct" ></span>
        </div>
        </div>

	</div>

    <div id='quizbuttondiv' class="col-md-12">
        <div id="startquizbutton">
            <button class="btn btn-primary btn-lg" onclick="graph()" >Start Quiz!</button>
        </div>
    </div>

    <script src="{%  static "js/highcharts.js" %}"></script>
    <script src="{% static "js/exporting.js" %}"></script>

    <script>
	    var index = 0;
        var json_global = {{ quiz|safe }};

		function nextquestion(){
            $('#quest_button').attr('onclick', 'showCorrect()').html('Show Answer!');
            $('#correctdiv').css('visibility', 'hidden');
            $('#question_heading').html(json_global[index]['question']);
                $('#choice_a').html(json_global[index]['choices'][0]);
                $('#choice_b').html(json_global[index]['choices'][1]);
                $('#choice_c').html(json_global[index]['choices'][2]);
                $('#choice_d').html(json_global[index]['choices'][3]);
        }

        function showCorrect(){
            $('#correctdiv').css('visibility', 'visible')
            $('#correct').html(json_global[index]['correct']);
            $('#quest_button').attr('onclick', 'nextquestion()').html('Next Question!');
            index++;
            if(index > json_global.length -1){
                index = 0;
            }
        }

        function graph() {
            $('.linkssmall').before('<div class="col-md-12" style="text-align: center;"> \
            <div id="nextquestionbutton" style="visibility: hidden;"> \
                <button id="quest_button" class="btn btn-primary" onclick="showCorrect()" >Show Answer!</button> \
                </div> \
            </div>');
            $('#questions').css('visibility', 'visible');
            $('#nextquestionbutton').css('visibility', 'visible');
            $('#quizbuttondiv').css('visibility', 'hidden');
            nextquestion();
			}

		$(function () {


                Highcharts.setOptions({{ highchart_options|safe }});

                $('#container').highcharts({{ highchart_body|safe }});
            })	
		
    </script>
{% endblock %}
