{% extends "index.html" %}
{% block content %}

     <div class="page-header">
        <h1 style="font-size: 7vw;">Quizzes</h1>
    </div>
    <div class="row">
        <div class="links">
           <ul class="nav">
              <li id="red"><a href="/quizzes/create_quiz">Create a Quiz</a></li>
              <li id="green"><a href="/quizzes/load_quiz">Recent Quizzes</a></li>
              <li id="blue"><a href="/quizzes/load_quiz">Archived Quizzes</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="quizinfo">
            <p>
                Please select a subject to begin creating a quiz, or use the
                custom creator by clicking Create a Quiz. You may also review
                recent quizzes or archived quizzes.
            </p>
        </div>
    </div>



{% endblock %}