<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoppoRoo!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/hls.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
{% csrf_token %}

<div id="container"></div>

<div class="navbar-fixed-bottom navbar-text" style="margin-left: 50px;">
{#    <a href="javascript:void(0);" onclick="href='/results';" target="_blank" >Click me!</a>#}

    <button style="width: 120px;height:60px;font-size: 20px;" id="startquiz" class="btn btn-primary" onclick="start_polling(0);chart();" >Start</button>
    <button style="width: 120px;height:60px;font-size: 20px;" id="stopquiz" class="btn btn-primary" onclick="stop_polling(); post_data();" >Stop</button>
    <button style="width: 140px;height:60px;font-size: 20px;" class="btn btn-primary btn-lg" onclick="nextquestion();" >Next question</button>
</div>

<script>
    var results_dict={};
    function start_polling(questionNum){
        $('#startquiz').prop('disabled', true);
        $('#stopquiz').prop('disabled', false);
        interval = setInterval(function () {
            $.when(
                    $.ajax({
                        type: "GET",
                        url: "api/v1/data",
                        success: function (response) {
                            response_json = JSON.parse(response);
                            node_data = response_json['node_data'];
                        }
                    }).then(function() {
                        results_dict['overall'] = JSON.stringify(response_json);
                        results_dict['question'+questionNum] = JSON.stringify(node_data);
                    }))
        }, 1000);}
</script>

<script src="{%  static "js/highcharts.js" %}"></script>
<script src="{% static "js/exporting.js" %}"></script>

<script>

    function chart() {
        interval;

        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            plotOptions: {
                column: {
                    colorByPoint: true
                }
            },
            colors: [
                '#932933',
                '#00ED77',
                '#2E3B7F',
                '#FCF528'
            ]
        });

        $('#container').highcharts({
            chart: {
                type: 'column',
                animation: Highcharts.svg, // don't animate in old IE
                margin: 0,
                backgroundColor: '#F7F7CD',
                events: {
                    load: function () {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        interval2 = setInterval(function () {
                            var response_json = JSON.parse(results_dict["overall"]);
                            series.setData([0 , 1, 3, 6], true, false, true);
{#                            series.setData([response_json['A'] , response_json['B'], response_json['C'], response_json['D']], true, false, true);#}
                        }, 1000);
                    }
                }
            },

            title: {
                text: '',
                style:{
                    color: '#437341',
                    fontSize: '25px',
                    fontFamily: "teacher"
                }
            },
            xAxis: {
                labels: {
                    style:{
                        color: '#932933',
                        fontSize: '25px',
                        fontFamily: "teacher"
                    }
                },
                categories: [
                    'A',
                    'B',
                    'C',
                    'D',
                ],
            },
            yAxis: {
                title: {
                    style:{
                        color: '#932933',
                        fontSize: '25px',
                        fontFamily: "teacher"
                    },
                    text: ''
                },
                labels: {
                    style: {
                        color: '#437341',
                        fontSize: '25px',
                        fontFamily: "teacher"
                    }
                },
                allowDecimals: false,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Choices',
                data: []

            }]
        });
    }

</script>
<script>
    function stop_polling(){
        clearInterval(interval);
        clearInterval(interval2);
        $('#stopquiz').prop('disabled', true);
        $('#startquiz').prop('disabled', false);
    }

    function post_data(){

        $.ajax({
            url: "/api/v1/results_data",
            type: "POST",
            data: {myArray : results_dict}
        });
    }
</script>
</body>
</html>
